1. Using numpy and pandas

In [28]:
import numpy as np
import pandas as pd

In [43]:
np.random.seed(1947)
data = np.random.rand(100,10)
columns = ['Col1', 'Col2', 'Col3','Col4','Col5','Col6','Col7','Col8','Col9','Col10']

In [44]:
df = pd.DataFrame(data, columns=columns)
print(df.head())

       Col1      Col2      Col3      Col4      Col5      Col6      Col7  \
0  0.741834  0.125410  0.850674  0.959022  0.552441  0.405072  0.181053
1  0.828854  0.537810  0.492580  0.718708  0.112309  0.681096  0.176629
2  0.029185  0.563220  0.769595  0.644476  0.619357  0.464724  0.965769
3  0.374737  0.730846  0.387233  0.479311  0.880198  0.713471  0.435365
4  0.786597  0.432156  0.730301  0.553711  0.646695  0.205819  0.643702

       Col8      Col9     Col10
0  0.747717  0.808573  0.760172
1  0.285012  0.600997  0.430675
2  0.604586  0.409469  0.820377
3  0.565631  0.358389  0.917240
4  0.244361  0.215988  0.377489

In [31]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Col1,100.0,0.519518,0.322390,0.006063,0.212054,0.563914,0.811594,0.995920
Col2,100.0,0.501199,0.282532,0.012307,0.262141,0.522919,0.739977,0.985453
Col3,100.0,0.532529,0.279996,0.006068,0.295233,0.580141,0.761109,0.995796
Col4,100.0,0.471038,0.271473,0.020571,0.270598,0.452347,0.702699,0.983572
Col5,100.0,0.493991,0.307935,0.002552,0.228903,0.450676,0.786195,0.993541
Col6,100.0,0.528233,0.301212,0.000164,0.268081,0.537928,0.800301,0.990064
Col7,100.0,0.506673,0.294210,0.013788,0.229599,0.526814,0.738263,0.995455
Col8,100.0,0.498972,0.297311,0.001320,0.204711,0.533332,0.732854,0.995930
Col9,100.0,0.493475,0.279014,0.016534,0.242225,0.499465,0.717816,0.999913
Col10,100.0,0.496549,0.281920,0.012677,0.243117,0.493066,0.706328,0.987245

2. Using sklearn.datasets for Classification

In [49]:
!pip install scikit-learn
from sklearn.datasets import make_classification
# Generate a binary classification dataset
# Generate a dataset with 100 samples and 20 features
X, y = make_classification(
n_samples=100,
n_features=10,
n_informative=5,
n_redundant=2,
n_classes=3,
random_state=1956
)
# Combine features and labels into a DataFrame
df = pd.DataFrame(X, columns=['Col1', 'Col2', 'Col3','Col4','Col5','Col6','Col7','Col8','Col9','Col10'])
df['Label'] = y
print(df.head())

1996.77s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.12/site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
       Col1      Col2      Col3      Col4      Col5      Col6      Col7  \
0  1.137184  1.170707 -2.749634 -1.328523  2.107547 -1.204740 -0.843609
1  0.449897 -0.646157  0.009177 -1.043209  0.156899  0.801659  0.673519
2 -1.084599 -0.158616  0.018162 -1.253230  1.262105 -0.577821  0.304256
3 -0.087108  0.164394  0.363967  0.319408 -0.303060  0.947500  0.695628
4  1.568661  3.166451  0.149313 -0.118296  0.770334 -2.306093 -1.569203

       Col8      Col9     Col10  Label
0 -1.466878 -0.508442 -0.647479      0
1  0.132421  0.811404  0.859778      1
2  1.468885  1.224413  0.585312      2
3 -0.551261  0.002453 -0.800083      1
4  0.506164  1.184206 -1.202198      1

In [35]:
print("Feature matrix shape:", X.shape) # (100, 20)
print("Target vector shape:", y.shape) # (100,)

Feature matrix shape: (100, 20)
Target vector shape: (100,)

3. Using random for Custom Data

In [ ]:
import random

# Generate a dataset with random integers
data = [{'ID': i, 'Value': random.randint(1, 100)} for i in range(1, 101)]

# Convert to a DataFrame
df = pd.DataFrame(data)
print(df.head())

   ID  Value
0   1     42
1   2     37
2   3     87
3   4     63
4   5     97